<footer>

  <span class="hide-small" id="footer-elements">
    <span style="font-weight: bold;">[</span>
    <a href="../"><i class="fa-solid fa-house"></i> Inicio</a>,
    <a href="#"><i class="fa-solid fa-code"></i> Código</a>,
    <a href="#"><i
        class="fa-solid fa-lightbulb"></i> Reporta</a>,
    <span id="donate-footer" onclick="document.getElementById('myModal').style.display='block'">
      <i class="fa-regular fa-heart"></i> Apoyar</span>
    <span style="font-weight: bold;">]</span>
  </span>
  <span class="hide-medium hide-large" style="font-size: 0.85em;">
    <span style="font-weight: bold;">[</span>
    <a href="../"><i class="fa-solid fa-house"></i> Inico</a> -
    <span id="donate-footer" onclick="document.getElementById('myModal').style.display='block'">
      <i class="fa-regular fa-heart"></i> Apoyar</span>
    <span style="font-weight: bold;">]</span>
  </span>

  <br />

  <a id="licence-link" rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1"
    target="_blank">
    <i class="fa-brands fa-creative-commons"></i>
    <i class="fa-brands fa-creative-commons-by"></i>
    <i class="fa-brands fa-creative-commons-nc"></i>
    <i class="fa-brands fa-creative-commons-sa"></i>
  </a>

  <br />

  <strong>
    <span class="hide-small" style="font-size: 18px">&copy; C. J. Islas Bustamante Ledesma
      <script>document.write(new Date().getFullYear());</script>
    </span>
    <span class="hide-medium hide-large" style="font-size: 15px">&copy; C. J. Islas Bustamante Ledesma
      <script>document.write(new Date().getFullYear());</script>
    </span>
  </strong>

</footer>