<section data-type="chapter">

    <div class="toc-chapter" id="toc-chapter">
        <p><i class="fa-solid fa-list"></i>Contenido</p>
        <ul>
            <li><a href="#section1">Proposición 2.1</a></li>
            <li><a href="#section2">Proposición 2.2</a></li>
            <li><a href="#section3">Proposición 2.3</a></li>
            <li><a href="#section4">Proposición 2.4</a></li>
            <!-- Add more sections as needed. This must be done manually -->
        </ul>
    </div>

    <!-- Starts main content -->

    <br /><br /><br />

    <header>
        <h1>Chapter 2</h1>
    </header>

    <hr/>

    <main>
        <article>

            <div id="section1">
                <h2>Section 1</h2>

                <p>This are examples of environments with MatJax: 
                    \[
                    \LARGE \R, \Q, \N \ra
                    \]
                </p>

                <p>This is more math $\ds \lim_{t  \to 0}1/t.$ Example 
                    of conjugate \(\conj{z}.\)
                </p>

                <p>
                    \(\nec\) \(\suf\)
                </p>

                <p>
                    \[
                    \lim_{t  \to 0}1/t
                    \]
                </p>

                <div class="definition">
                    This is a definition. Not to long.
                </div>

                <div class="definition">
                    This is another definition. Not to long.
                </div>

                <div class="lemma">
                    This is a lemma. Not to long.
                </div>


                <div class="theorem">
                    This is theorem. Not to long.
                </div>

                <div class="proof">
                    This is for writing the proof.
                </div>

                <div class="corollary">
                    This is a corollary. Not to long.
                </div>
                

                <figure>
                    <img alt="Convergence in one dimension" style="width: 100%;" loading="lazy"  src="imgs/proposicion-1-1/proposicion-1-1.svg" />
                    
                    <figcaption>
                      Convergence in one dimension.
                    </figcaption>
                </figure>


                

                <p>This text.</p>

                <p>
                    This is math $x^2+x+1,$ with the symbol $.
                    This is math with \(x^2+x+1.\)
                    This is another equation
                    \[
                    p(x)= x^2+x+1
                    \]
                    This is another way without label numbers:
                    \begin{eqnarray*}
                    p(x) & = & x^2+x+1\\
                    q(x) & = & x^3+x^2+x\\
                    \end{eqnarray*}
                    This is an equation with label number:
                    \begin{eqnarray}\label{eqn1}
                    p(x) & = & x^2+x+1
                    \end{eqnarray}
                    Now I can refer to (\ref{eqn1}).
                </p>

            </div>

            <div id="section2">
                <h2>Section 2</h2>

                <p>This text.</p>

                <p>
                    This is math $x^2+x+1,$ with the symbol $.
                    This is math with \(x^2+x+1.\)
                    This is another equation
                    \[
                    p(x)= x^2+x+1
                    \]
                    This is another way without label numbers:
                    \begin{eqnarray*}
                    p(x) & = & x^2+x+1\\
                    q(x) & = & x^3+x^2+x\\
                    \end{eqnarray*}
                    This is an equation with label number:
                    \begin{eqnarray}\label{eqn2}
                    p(x) & = & x^2+x+1
                    \end{eqnarray}
                    Now I can refer to (\ref{eqn1}).
                </p>

            </div>

            <div id="section3">
                <h2>Section 3</h2>

                <p>This text.</p>

                
                <p>
                    This is math $x^2+x+1,$ with the symbol $.
                    This is math with \(x^2+x+1.\)
                    This is another equation
                    \[
                    p(x)= x^2+x+1
                    \]
                    This is another way without label numbers:
                    \begin{eqnarray*}
                    p(x) & \lt  & x^2+x+1\\
                    q(x) & \gt & x^3+x^2+x\\
                    \end{eqnarray*}
                    This is an equation with label number:
                    \begin{eqnarray}\label{eqn3}
                    p(x) & = & x^2+x+1
                    \end{eqnarray}
                    Now I can refer to (\ref{eqn1}).
                </p>

            </div>

            <div id="section4">

                <h2>Section 4</h2>

                <p>This text.</p>

                <p>
                    This is math $x^2+x+1,$ with the symbol $.
                    This is math with \(x^2+x+1.\)
                    This is another equation
                    \[
                    p(x)= x^2+x+1
                    \]
                    This is another way without label numbers:
                    \begin{eqnarray*}
                    p(x) & = & x^2+x+1\\
                    q(x) & = & x^3+x^2+x\\
                    \end{eqnarray*}
                    This is an equation with label number:
                    \begin{eqnarray}\label{eqn4}
                    p(x) & = & x^2+x+1
                    \end{eqnarray}
                    Now I can refer to (\ref{eqn1}).
                </p>

                <div class="theorem">
                    This is the second theorem. Not to long.
                </div>
                <div class="theorem">
                    This is  the third theorem. Not to long.
                </div>

                <p>
                    More text.
                </p>

                <figure>
                    <img alt="Convergence in one dimension" style="width: 100%;" loading="lazy"  src="imgs/proposicion-1-1/proposicion-1-1.svg" />
                    
                    <figcaption>
                      Convergence in one dimension.
                    </figcaption>
                </figure>

            </div>




        </article>
    </main>


    <a href="template.html" style="text-decoration: none;">
        <p class="nextPage">Template <i class="fa-solid fa-angles-right"></i></p>
    </a>
    <!-- Ends main content -->

</section>