<section data-type="chapter" id="index">

    <!-- Starts main content -->

    <header>

        <div class="">
            <div class="hide-small">
                <br><br>
                <img src="proposicion-1-1/proposicion-1-1.svg" alt="Proposición 1"/>
            </div>

            <div class="hide-large hide-medium">
                <img src="proposicion-1-1/proposicion-1-1.svg" alt="Proposición 1"/>
            </div>
            <div class="">


                <div style="text-align: center !important;" class="hide-small">
                    <h1>Elementos de Euclides Redux</h1>
                </div>

                <p class="hide-large hide-medium" style="font-size:34px;text-align:center;"><b>
                    Elementos de Euclides Redux</b></p>

                <p class="hide-small author">Carlos Julio Islas Bustamante Ledesma<br>
                    <script>document.write(new Date().getFullYear());</script>
                    <br>
                        <span class="dark-mode-button" id="dark-mode-toggle">
                            <i class="fa-regular fa-sun"></i>
                        </span>
                </p>

                <p class="hide-large hide-medium author" style="font-size:16px">C. J. Islas Bustamante Ledesma
                    <br>
                    <script>document.write(new Date().getFullYear());</script>
                    <br>
                        <span class="dark-mode-button" id="dark-mode-toggle">
                            <i class="fa-regular fa-sun"></i>
                        </span>
                </p>

            </div>

        </div>



    </header>

    <br />

    <hr />

    <main>
        <article>
            <h4 id="intro" style="font-size: 1.5em;">Introdución</h4>

            

            <p>
                ¡Prepárense para una emocionante exploración de
                un universo geométrico alternativo donde la curiosidad y la
                experimentación serán nuestros guías!
            </p>

            <blockquote>

                «Lo cierto es que fueron años de arduo<br />
                aprendizaje, con lapsos de desaliento en los que estuvo a<br />
                punto de desistir. Pero al fin triunfó la preseverancia y<br />
                Raimundo aprendió a ladrar.»

                <br />

                <cite>- Mario Benedetti, <br />El hombre que aprendió a ladrar</cite>
            </blockquote>

            <br>

            <hr>

            <h4 style="font-size: 1.5em;">Créditos</h4>

            <p>Edición y diseño web por: <a href="https://www.patreon.com/jcponce">Juan Carlos Ponce Campuzano</a>.</p>

            <p>
                El diseño de este sitio está basado en los siguientes proyectos:
            </p>
            <ul>
                <li>
                    <a href="https://github.com/vincentdoerig/latex-css" target="_blank">LaTeX.CSS</a> por Vincent Dörig
                </li>
                <li>
                    <a href="https://github.com/davidrzs/latexcss" target="_blank">LatexCSS</a> por David Zollikofer
                </li>
                <li>
                    <a href="https://complex-analysis.com/" target="_blank">Complex Analysis</a> por Juan Carlos Ponce
                    Campuzano
                </li>
            </ul>

            <p>
                La construcción del sitio fue hecho gracias al proyecto
                <a href="https://github.com/magicbookproject" target="_blank">Magic Book</a>.
            </p>

            <hr>

            <h4  style="font-size: 1.5em;">Navegación</h4>
            <p>¡Bien, comencemos! 
                Para navegar entre capítulos usa las flechas
  
              </p>
              
              <p class="smallBox">
                    <span style="margin-left: 0px;"><i class="fa-solid fa-arrow-left"></i></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="margin-right: 0px;"><i class="fa-solid fa-arrow-right"></i></span>
                  </p>
              
              <p>situadas en la barra superior
                de navegación que encontrás en cada página.
  
              </p>
            
              <p>
                Para pasar al siguiente capítulo haz clic en el botón situado al final de 
                cada página:
              </p>

        </article>
    </main>

    <br />

    <a href="capitulo-01.html" style="text-decoration: none;">
        <p class="nextPage">Capítulo 1 <i class="fa-solid fa-angles-right"></i></p>
    </a>

    <!-- Ends main content -->

</section>