<section data-type="chapter">

    <!-- Starts main content -->

    <br /><br /><br />

    <header>
        <h1>Tabla de Contenidos</h1>
    </header>

    <hr/>

    <main>
        <article>

            <ol>
                <li><a href="capitulo-01.html">Capitulo 1 Ángulos, Lineas Paralelas, Paralelogramos</a></li>
                <li><a href="capitulo-02.html">Chapter 2: Testing</a></li>
            </ol>

            <br/>
            

            <iframe src="https://www.dynamicmath.xyz/sketches/shaders/box-space/" scrolling="no" width="100%" height="300px" style="border:0px;border:1px solid black"></iframe>
            
           
            <br/>
            <br/>

        </article>
    </main>


    <a href="capitulo-01.html" style="text-decoration: none;">
        <p class="nextPage">Capítulo 1 <i class="fa-solid fa-angles-right"></i></p>
    </a>
    <!-- Ends main content -->

</section>