<section data-type="chapter">

    <!-- Starts main content -->

    <br /><br /><br />

    <header>
        <h1>Tabla de Contenidos</h1>
    </header>

    <main>
        <article>

            <ul>
                <a href="capitulo-01.html">Capitulo 1 Ángulos, Lineas Paralelas, Paralelogramos</a>
            </ul>

        </article>
    </main>


    <a href="template.html" style="text-decoration: none;">
        <p class="nextPage">Template <i class="fa-solid fa-angles-right"></i></p>
    </a>
    <!-- Ends main content -->

</section>